.Applycation {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
.header {
    display: flex;
    justify-content: center;
}
footer .btn {
    margin: 30px 0;
    padding: 5px 5px;
    cursor: pointer;
}