.FreeBoard{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.mainletter{
    padding-left: 30px;
    font-size: 32px;
    height: 50px;
}
.header {
    display: flex;
    justify-content: center;
}