.projectListPage {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.newProject {
  display: flex;
  justify-content: center;
}

.likeProject {
  display: flex;
  justify-content: center;
}

.likeUser {
  display: flex;
  justify-content: center;
}

.mainletter{
  text-align: center;
  font-size: 32px;
  height: 50px;
  margin: 20px 0px;
}