.RegisterProjectHeader {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.RegisterProjectMain {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.projectImg {
  display: flex;
  flex-direction: column;
}

.projectImg > img {
  width: 200px;
}
