* {
    margin: 0;
    padding: 0;
  }
  
.std{
    width: 600px;
}

.button{
    width: 100px;
}

.button2{
    width: 200px;
}

.photo {
    width: 100px;
    height: 100px;
}

.mainletter {
    text-align: center;
    width: 100px;
    font-size: 16px;
}