

* {
  margin: 0;
  padding: 0;
}

.projectSummaryHome {
  display: flex;
  flex-direction: column;
  border: 3px solid #e0e0e0;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}


.photo {
  width: 200px;
  height: 150px;
  margin: 20px 10px 40px 10px;
}

.mainletter{
  text-align: center;
  font-size: 18px;
}
